<!doctype html>
<html lang="en" class="fixed{% block html_class %}{%  endblock %}">

<head>
    <meta charset="UTF-8">
    <meta name='description' content='{{ config.description }}'>
    <meta name="keywords" content="{{ config.keywords }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ config.title }}</title>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ config.site_static_host }}/public/favicon/apple-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ config.site_static_host }}/public/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ config.site_static_host }}/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ config.site_static_host }}/public/favicon/favicon-16x16.png">
    <!-- scripts -->
    {{ Loader('/public/pace/pace.min.js')
    .js('/public/vendor/pace/pace.min.js')
    .done(assets, config.site_static_host, config.mini_assets) | safe }}
    {{ Loader('/public/pace/pace-theme-minimal.css')
    .css('/public/vendor/pace/pace-theme-minimal.css')
    .done(assets, config.site_static_host, config.mini_assets) | safe }}

    {% block head %}
        <!-- style -->
        {{ Loader('/public/portal.min.css')
        .css('/public/vendor/bootstrap/css/bootstrap.css')
        .css('/public/vendor/bootstrap-fileinput/css/fileinput.min.css')
        .css('/public/vendor/font-awesome/css/font-awesome.min.css')
        .css('/public/vendor/animate.css/animate.css')
        .css('/public/vendor/toastr/toastr.min.css')
        .css('/public/vendor/magnific-popup/magnific-popup.css')
        .css('/public/vendor/select2/css/select2.min.css')
        .css('/public/vendor/select2/css/select2-bootstrap.min.css')
        .css('/public/vendor/data-table/media/css/dataTables.bootstrap.min.css')
        .css('/public/stylesheets/css/style.css')
        .done(assets, config.site_static_host, config.mini_assets) | safe }}
    {% endblock %}
    <meta content="_csrf" name="csrf-param">
    <meta content="{{ csrf }}" name="csrf-token">
</head>
<body>
<div class="wrap">
    {% block body %}
        {# 头部 #}
        {% include "includes/head.njk" %}
        <div class="page-body">
            {# 左侧列表 #}
            {% include "includes/left.njk" %}
            <div class="content">
                {# 面包屑 #}
                <div class="content-header">
                    <div class="leftside-content-header">
                        <ul class="breadcrumbs">
                            <li>
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <a href="#">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {# 主体内容 #}
                {% block content %}
                {% endblock %}
            </div>
            {# 右侧列表 #}
            {% include "includes/right.njk" %}
            <a href="#" class="scroll-to-top">
                <i class="fa fa-angle-double-up"></i>
            </a>
        </div>
    {% endblock %}
</div>
{% block foot %}
    <!-- scripts -->
    {{ Loader('/public/portal.min.js')
    .js('/public/vendor/jquery/jquery-1.12.3.min.js')
    .js('/public/vendor/bootstrap/3.3.4/js/bootstrap.min.js')
    .js('/public/vendor/nano-scroller/nano-scroller.js')
    .js('/public/javascripts/template-script.min.js')
    .js('/public/javascripts/template-init.min.js')
    .done(assets, config.site_static_host, config.mini_assets) | safe }}
{% endblock %}
{% block script %}
{% endblock %}
</body>

</html>
