{% extends "layout.njk" %}
{% block content %}
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal form-stripe" id="site_form" role="form" method="POST"
                                  action="/site/{{ sid + '/edit' if site else 'create' }}?_csrf={{ csrf }}">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">标题
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="title" name="title" value="{{ title if title else site.title }}" placeholder="请输入标题">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="des" class="col-sm-2 control-label">描述
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="des" name="des" value="{{ des if des else site.des }}" placeholder="请输入描述">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="select2-example-tags" class="col-sm-2 control-label">标签</label>
                                    <div class="col-sm-10">
                                        <select name="tags[]" id="select2-example-tags" class="form-control select-tag-primary" multiple="multiple" style="width: 100%">
                                            <optgroup label="热门标签">
                                            </optgroup>
                                            <optgroup label="所有标签">
                                                {% for item in tags %}
                                                    <option value="{{ item.id }}" label="{{ item.title }}" {{ 'selected' if item.selected else '' }}>{{ item.title }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                        <span class="help-block">
                                            <i class="fa fa-info-circle mr-xs"></i>
                                            输入 <span class="code">，</span> <span class="code">,</span> 来创建新的标签
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="upload_image" class="col-sm-2 control-label">图片
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="file" class="file" name="file" id="upload_image">
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10 mt-sm">
                                        <input type="hidden" name="image" id="img" value="{{ site.image }}">
                                        <img class="img-thumbnail" src="{{ site.image }}" alt="未上传" title="" onerror="this.style.display='none'" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="upload_file" class="col-sm-2 control-label">源文件
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="file" class="file" name="file" id="upload_file">
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10 mt-sm">
                                        <input type="hidden" name="url" id="url" value="{{ site.url }}">
                                        <a href="{{ site.url }}" target="_blank">{{ site.url }}</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- scripts -->
    {{ Loader('/public/site.min.js')
    .js('/public/vendor/select2/js/select2.min.js')
    .js('/public/vendor/bootstrap-fileinput/js/fileinput.min.js')
    .js('/public/vendor/bootstrap-fileinput/js/locales/zh.js')
    .done(assets, config.site_static_host, config.mini_assets) | safe }}
    <script>
      //Set bootstrap theme
      $.fn.select2.defaults.set("theme", "bootstrap");
      $("#select2-example-tags").select2({
        placeholder: "Select a tag",
        allowClear: false,
        tags: true,
        tokenSeparators: [ ',' ],
        createTag: function(params) {
          if (params.term.indexOf('，') > 0 || params.term.indexOf(',') > 0) {
            var str = params.term;
            str = str.substr(0, str.length - 1);
            return {
              id: str,
              text: str
            }
          } else {
            return null;
          }
        }
      });

      //初始化控件
      $("#upload_image").fileinput({
        language: 'zh',
        uploadUrl: "/upload?img=1&_csrf={{ csrf }}",
        allowedFileExtensions: [ 'jpg','png' ],
        overwriteInitial: false,
        dropZoneEnabled: false,
        maxFileSize: 1024 * 10,
        maxFilesNum: 1,
        slugCallback: function(filename) {
          return filename.replace('(', '_').replace(']', '_');
        }
      }).on("fileuploaded", function(event, data, previewId, index) {
        const { url } = data.response;
        $('#img').val(url).next().attr({ 'src': url }).show();
      });

      $("#upload_file").fileinput({
        language: 'zh',
        uploadUrl: "/upload?_csrf={{ csrf }}",
        allowedFileExtensions: [ 'zip' ],
        overwriteInitial: false,
        dropZoneEnabled: false,
        maxFileSize: 1024 * 10,
        maxFilesNum: 1,
        slugCallback: function(filename) {
          return filename.replace('(', '_').replace(']', '_');
        }
      }).on("fileuploaded", function(event, data, previewId, index) {
        const { url } = data.response;
        $('#url').val(url).next().attr({ 'href': url }).text(url);
      });
    </script>
{% endblock %}
