{% extends "layout.njk" %}
{% block content %}
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal form-stripe" role="form" method="POST" action="/site/save?_csrf={{ csrf }}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">标题
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="title" name="title" value="{{ title }}" placeholder="请输入标题">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="des" class="col-sm-2 control-label">描述
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="des" name="des" value="{{ des }}" placeholder="请输入描述">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="select2-example-tags" class="col-sm-2 control-label">标签</label>
                                    <div class="col-sm-10">
                                        <select name="tags" id="select2-example-tags" class="form-control select-tag-primary" multiple="multiple" style="width: 100%">
                                            <optgroup label="热门标签">
                                            </optgroup>
                                            <optgroup label="所有标签">
                                                {% for item in tags %}
                                                    <option value="{{ item.id }}" label="{{ item.title }}">{{ item.title }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                        <span class="help-block">
                                            <i class="fa fa-info-circle mr-xs"></i>
                                            输入 <span class="code">，</span> <span class="code">,</span> 来创建新的标签
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputfile" class="col-sm-2 control-label">源文件
                                        <span class="required" aria-required="true">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" id="inputfile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- scripts -->
    {{ Loader('/public/site.min.js')
    .js('/public/vendor/select2/js/select2.min.js')
    .done(assets, config.site_static_host, config.mini_assets) | safe }}
    <script>
      //Set bootstrap theme
      $.fn.select2.defaults.set("theme", "bootstrap");
      $("#select2-example-tags").select2({
        placeholder: "Select a tag",
        allowClear: false,
        tags: true,
        tokenSeparators: [ ',' ],
        createTag: function(params) {
          if (params.term.indexOf('，') > 0 || params.term.indexOf(',') > 0) {
            var str = params.term;
            str = str.substr(0, str.length - 1);
            return {
              id: str,
              text: str
            }
          } else {
            return null;
          }
        }
      });
    </script>
{% endblock %}
