<div class="page-header">
    <div class="leftside-header">
        <div class="logo">
            <a href="/" class="on-click">
                <img alt="logo" src="{{ config.site_static_host }}/public/images/header-logo.png"/>
            </a>
        </div>
        <div id="menu-toggle" class="visible-xs toggle-left-sidebar" data-toggle-class="left-sidebar-open"
             data-target="html">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="rightside-header">
        <div class="header-middle"></div>
        <div class="header-section" id="search-headerbox">
            <input type="text" name="search" id="search" placeholder="Search...">
            <i class="fa fa-search search" id="search-icon" aria-hidden="true"></i>
            <div class="header-separator"></div>
        </div>
        <div class="header-section hidden-xs" id="notice-headerbox">
            <div class="notice" id="alerts-notice">
                <i class="fa fa-bell-o" aria-hidden="true">
                    <span class="badge badge-xs badge-top-right x-danger">{{ current_user.messages_count }}</span>
                </i>
                <div class="dropdown-box basic">
                    <div class="drop-header">
                        <h3>
                            <i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</h3>
                        <span class="badge x-danger b-rounded">7</span>
                    </div>
                    <div class="drop-content">
                        <div class="widget-list list-left-element list-sm">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="left-element">
                                            <i class="fa fa-warning color-warning"></i>
                                        </div>
                                        <div class="text">
                                            <span class="title">8 Bugs</span>
                                            <span class="subtitle">reported today</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="drop-footer">
                        <a>See all notifications</a>
                    </div>
                </div>
            </div>
            <div class="header-separator"></div>
        </div>
        <div class="header-section" id="user-headerbox">
            <div class="user-header-wrap">
                <div class="user-photo">
                    <img src="{{ current_user.avatar }}" alt="{{ current_user.username }}"/>
                </div>
                <div class="user-info">
                    <span class="user-name">{{ current_user.username }}</span>
                    <span class="user-profile">{{ current_user.roles }}</span>
                </div>
                <i class="fa fa-plus icon-open" aria-hidden="true"></i>
                <i class="fa fa-minus icon-close" aria-hidden="true"></i>
            </div>
            <div class="user-options dropdown-box">
                <div class="drop-content basic">
                    <ul>
                        <li>
                            <a href="pages_user-profile.html">
                                <i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                        </li>
                        <li>
                            <a href="pages_lock-screen.html">
                                <i class="fa fa-lock" aria-hidden="true"></i> Lock Screen</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cog" aria-hidden="true"></i> Configurations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-separator"></div>
        <div class="header-section">
            <a href="signout">
                <i class="fa fa-sign-out log-out" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>